spring.application.name=prepnex
spring.datasource.url=jdbc:mysql://localhost:3306/prepnex_db
spring.datasource.username=root
spring.datasource.password=YOUR_PASSWORD_HERE
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
jwt.secret=YOUR_JWT_SECRET_HERE
jwt.expiration=86400000